.htmlTag {
  color: #330033;
  background-color: #eee;
  padding: 5px;
  border-radius: 5px;
  /* color: #7f017f; */
  /* background-color: #1b0e08; */
  /* color: #dca8ff;
  background-color: #15081b; */
}
