<nav>
  <div class="container">
    <ul class="nav">
      <li><a href="index.html" id="indexLink">Hjem</a></li>
      <li><a href="#">Nettsider</a>
        <ul class="website-links">
          <li><a href="rankingapp.html">Ranking app</a></li>
          <li><a href="videoopplasting.html">Videoopplastingssystemer</a></li>
          <li><a href="maclean.html">Alistair Maclean nettside redesign</a></li>
        </ul>
      </li>
      <li><a id="galleryLink" href="gallery.html">Kunst</a></li>
    </ul>
  </div>
</nav>