@media only screen and (min-width: 0) {
  html {
    font-size: 100%;
    /* 16px */
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 2rem;
    scrollbar-color: #999 #fff;
  }
  body {
    margin: 0;
    background-color: #230d9b;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  body.index {
    background-image: url("images/black_explosion.png");
    background-blend-mode: multiply;
    background-position: 230% -135px;
    background-size: 130%;
  }
  body>* {
    padding-left: 10%;
    padding-right: 10%;
  }
  .mb-50 {
    margin-bottom: 50px;
  }
  .mb-130 {
    margin-bottom: 130px;
  }
  /* ––––––––––––––––––––– Type ––––––––––––––––––––– */
  h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3rem;
    letter-spacing: .1rem;
  }
  .work h1 {
    display: inline;
  }
  h2 {
    margin-top: 3rem;
    font-size: 2rem;
    letter-spacing: .1rem;
  }
  .work h3 {
    color: #3b3b3b;
    font-size: 1.3rem;
    margin-top: 3rem;
  }
  .tagline {
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 3rem;
  }
  .subtitle {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    letter-spacing: normal;
  }
  /* ––––––––––––––––––––– Header ––––––––––––––––––––– */
  header {
    padding-top: 100px;
    color: #fff;
    /* border-bottom: 6px solid #000; */
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    background: rgba(255, 51, 51, 0.5);
    background: -webkit-linear-gradient(right, rgba(255, 51, 51, 0.5), rgba(255, 255, 255, 0.0));
    background: -moz-linear-gradient(right, rgba(255, 51, 51, 0.5), rgba(255, 255, 255, 0.0));
    background: linear-gradient(to left, rgba(255, 51, 51, 0.5), rgba(255, 255, 255, 0.0));
  }
  .index header {
    padding-bottom: 40px;
  }
  .work header {
    padding-bottom: 50px;
  }
  header:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(127, 1, 127, 0.5);
    background: -webkit-linear-gradient(top left, rgba(127, 1, 127, 0.5), rgba(1, 1, 31, 0.5));
    background: -moz-linear-gradient(top left, rgba(127, 1, 127, 0.5), rgba(1, 1, 31, 0.5));
    background: linear-gradient(to bottom right, rgba(127, 1, 127, 0.5), rgba(1, 1, 31, 0.5));
  }
  header:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 1.0);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1.0), rgba(127, 1, 127, 0.0));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1.0), rgba(127, 1, 127, 0.0));
    background: linear-gradient(to top, rgba(0, 0, 0, 1.0), rgba(127, 1, 127, 0.0));
  }
  .index header .circle-frame {
    display: none;
  }
  .work header a {
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
  }
  /* ––––––––––––––––––––– Nav ––––––––––––––––––––– */
  nav {
    background-color: #fff;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  nav a {
    display: block;
    background: #fff;
    text-decoration: none;
    padding: 10px 5vw;
    color: #000;
  }
  .nav li {
    position: relative;
  }
  .nav>li {
    font-weight: 600;
    margin-right: 1px;
  }
  .nav li a:first-child:nth-last-child(2):before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    top: 50%;
    right: 5px;
  }
  /* submenu positioning*/
  .nav ul {
    position: absolute;
    white-space: nowrap;
    -webkit-box-shadow: 0px 19px 21px -18px #000;
    box-shadow: 0px 19px 21px -18px #000;
    z-index: 1;
    left: -99999em;
  }
  .nav>li:hover>ul {
    left: auto;
    padding-top: 5px;
    min-width: 100%;
  }
  /* .nav > li li ul {  border-left:1px solid #fff;} */
  .nav>li li:hover>ul {
    /* margin-left: 1px */
    left: 100%;
    top: -1px;
  }
  /* arrow hover styling */
  .nav>li>a:first-child:nth-last-child(2):before {
    border-top-color: #7f017f;
  }
  .nav>li:hover>a:first-child:nth-last-child(2) {
    font-weight: 900;
  }
  .nav>li:hover>a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    border-bottom-color: #000;
    margin-top: -5px
  }
  .nav li li>a:first-child:nth-last-child(2):before {
    margin-top: -5px
  }
  .nav li li:hover>a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    /* border-right-color: orange; */
    right: 10px;
  }
  /* nav ul.nav>li {
    border-bottom: 2px solid #bbb;
  }
  nav ul.nav>li:last-child {
    border: none;
  } */
  nav a:hover, nav a:active, nav a:focus, nav a.open {
    font-weight: 900;
  }
  .gray {
    color: #929292;
  }
  /* ––––––––––––––––––––– Main  ––––––––––––––––––––– */
  main {
    padding-top: 75px;
    padding-bottom: 50px;
    background-color: #fff;
    /* .work main skal ha nav-bar som ligger ved siden av main. nav-bar skal
    «kaste skygge» over på main,lag derfor en invers skygge på main. */
    -webkit-box-shadow: inset 0px 4px 32px -16px #000000;
    box-shadow: inset 0px 4px 32px -16px #000000;
  }
  /* det første elementet i main trenger ikke margin-top, da main tar seg av dette  */
  main .container>:first-child {
    margin-top: 0;
  }
  .index .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .index a.box {
    width: 90%;
    margin: 30px 0;
    overflow: hidden;
  }
  .index a.box .frame {
    height: 200px;
  }
  .index .flex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .index a.box {
    color: #000;
    text-decoration: none;
    transition: 0.2s;
  }
  .index a.box:hover, .index a.box:focus {
    transform: scale(1.05);
    transition: 0.2s;
  }
  /* .index a.stripe {
    display: block;
    padding: 14px 5%;
    color: #000;
    background-color: #ccc;
  }
  .index a.stripe:hover, .index a.stripe:focus {
    font-style:italic;
  } */
  .work img {
    width: 100%;
  }
  .work main a.link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 4px 3px;
    padding: 12px 24px;
    border-radius: 10px;
  }
  .work main a.link:link, .work main a.link:visited {
    background: #7f017f;
    background: -webkit-linear-gradient(top left, rgba(127, 1, 127, 1.0), rgba(1, 1, 31, 1.0));
    background: -moz-linear-gradient(top left, rgba(127, 1, 127, 1.0), rgba(1, 1, 31, 1.0));
    background: linear-gradient(to bottom right, rgba(127, 1, 127, 1.0), rgba(1, 1, 31, 1.0));
  }
  .work main a.link:hover, .work main a.link:focus {
    color: #000;
    background: #fff;
    box-shadow: inset 0px 0px 0px 3px #000;
  }
  .work figure {
    background-color: #bbb;
    margin: 15px 0;
    padding: 40px 5% 10px 5%;
  }
  ul.tools {
    padding: 0;
  }
  ul.tools li {
    display: inline;
    border-radius: 20px;
    border: 2px solid #3b3b3b;
    padding: 2px 7px;
  }
  /* Iframe heroku galleri */
  /* html.height100, body.fritid, body.fritid main, body.fritid .container {
    height: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
  } */
  /* ––––––––––––––––––––– Footer  ––––––––––––––––––––– */
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    background: #7f017f;
    background: -webkit-linear-gradient(top left, rgba(127, 1, 127, 1.0), rgba(1, 1, 31, 1.0));
    background: -moz-linear-gradient(top left, rgba(127, 1, 127, 1.0), rgba(1, 1, 31, 1.0));
    background: linear-gradient(to bottom right, rgba(127, 1, 127, 1.0), rgba(1, 1, 31, 1.0));
  }
  footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  footer ul li {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
  }
  footer ul li a {
    min-width: 500px;
    font-weight: 400;
    /* brukes på .text */
  }
  footer ul li a:hover, footer ul li a:focus {
    font-weight: 600;
    /* brukes på .text */
  }
  footer ul li .icon {
    min-width: 3rem;
    color: #fff;
    text-align: center;
  }
  footer ul li .icon img {
    max-width: 20px;
  }
  footer ul li .text {
    text-decoration: underline;
    display: inline-block;
    width: 190px;
    /* må justeres etter å kunne romme den bredeste teksten */
    color: #fff;
    /*nok til å fylle hele kontaktbredden*/
  }
  #copyMailButton {
    color: #000;
    /* font-size: inherit; */
    padding: 4px 11px;
    border-radius: 5px;
    font-family: inherit;
    background-color: #fff;
    border: 3px solid transparent;
    cursor: pointer;
  }
  #copyMailButton:hover, #copyMailButton:focus {
    color: #fff;
    background: none;
    border-color: #fff;
  }
}

@media only screen and (min-width: 700px) {
  body>* {
    padding-left: 14%;
    padding-right: 14%;
  }
  h1 {
    font-size: 3rem;
  }
  .index header .circle-frame {
    margin-top: -40px;
    /* flytt over header's padding-top */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* ^^ align-items: center (default) vil plassere bildet slik at toppen av bildet slettes ved overflow hidden, og .index header img {…} da ikke vil ha noe å hente  */
    max-width: 200px;
    max-height: 200px;
    border-radius: 200px;
    overflow: hidden;
  }
  header img {
    height: 170%;
    object-fit: cover;
    transform: translateX(-10px) translateY(-43px);
  }
  .index header .container {
    display: flex;
    justify-content: space-around;
  }
  nav ul.nav {
    display: flex;
    padding: 0;
  }
  /* nav ul.nav>li {
    border-bottom: none;
    border-right: 2px solid #bbb;
  } */
  nav ul li a {
    padding: 16px 40px;
  }
  .index .flex {
    justify-content: space-between;
  }
  .index a.box {
    width: 190px;
    margin: 6px 3%;
  }
  .index .box .frame {
    height: 170px;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }
  .index header .circle-frame {
    margin-left: 18%;
  }
  .index header .container {
    justify-content: flex-start;
  }
  .work main .container p, .work main .container li, .work figure {
    width: 630px;
  }
}