ul.tools {
  padding: 0;
}
ul.tools li {
  display: inline;
}
ul.tools .tool {
  color: var(--light-gray);
  border-radius: 20px;
  border: 2px solid #eee;
  padding: 2px 7px;
  background-color: #fff;
}
span.invisible {
  visibility: hidden;
}
