<body class="work maclean">
  <header>
    <div class="container">
      <a href="/">&lt;</a>
      <h1>Video&shy;opplastings&shy;systemer</h1>
    </div>
  </header>
  <nav></nav>
  <main>
    <div class="container">
      <h2>To studie&shy;proskekter, våren 2020</h2>
      <p>Våren 2020, i faget WWW-teknologi, hadde vi to prosjekter hvor vi skulle lage nettapplikasjoner for
        videoopplasting og -visning.</p>
      <p>Begge nettappene skulle gi brukere mulighet til å blant annet: laste opp videoer, se på dem, legge til et
        interaktivt transkript ved siden av videoen, endre videodetaljene, legge dem til i spillelister, abonnere på
        spillelister. </p>
      <p>Det som skilte prosjektene, var verktøyene vi skulle bruke og noe av kravspesifikasjonen.</p>

      <h3>Første prosjekt
        <span class="subtitle">
          <ul class="tools">
            Verktøy:
            <li>Templating engine (Twig)</li>
            <li>PHP</li>
            <li>MySQL</li>
            <li>Relasjonsdatabase</li>
            <li>HTML</li>
            <li>Docker</li>
          </ul>
        </span>
      </h3>
      <div>
        <p>Jeg jobbet i en gruppe med to andre. Jeg arbeidet mest med videoopplasting, -redigering og -visning. I
          tillegg gjorde jeg det spilleliste relaterte. Teknisk sett innebar dette å jobbe med appens interaksjon med
          databasen, databasestrukturen og nedlasting av videoer til filsystemet. Jeg jobbet også litt med kommentarer.
        </p>
        <p>Appen ble lagd med PHP-filer og templating engine'en Twig for å rendre html-sidene.</p>
      </div>
      <figure>
        <img src="images/www-teknologi/2-video-og-transkript.png" alt="videosiden første prosjekt">
        <caption>Videoside</caption>
      </figure>


      <h3>Andre prosjekt
        <span class="subtitle">
          <ul class="tools">
            Verktøy:
            <li>JavaScript</li>
            <li>Web&#8209;components&nbsp;(LitElement)</li>
            <li>PHP</li>
            <li>MySQL</li>
            <li>Relasjonsdatabase</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Docker</li>
          </ul>
        </span>
      </h3>
      <div>
        <p>Kravspesifikasjonen var mye det samme som i prosjekt 1. Her skulle det også skilles mellom ulike brukertyper,
          som var <i>admin</i>, <i>lærer</i> og <i>studenter</i>, hver med ulike rettigheter:</p>
        <ul>
          <li><b>studenter</b> skulle ha mulighet til å se på videoer, kommentere, lagre video i spillelister etc.</li>
          <li><b>lærere</b> skulle ha studenters rettigheter pluss mulighet til å legge ut videoer</li>
          <li><b>admin</b> skulle ha de samme rettighetene som alle andre, pluss mulighet til å endre å brukertypen til
            de andre brukerne. (Når folk skal registrere seg som lærer, må de opprette en studentbruker, og så sende
            forespørsel til admin om å få byttet brukertype)</li>
        </ul>

        <p>Nettappen skulle også være en Single page application, men dette fikk vi til bare delvis. (Hvis man klikker
          på en video i oversikten, tar siden en automatisk refresh. Man må også refreshe etter å ha lastet opp video
          eller gjort andre permanente endringer.)</p>
        <p>I dette prosjektet jobbet jeg med én annen. Det jeg hadde ansvar for, var å få til videoopplasting,
          -visning og -oversikt. Jeg lagde også mesteparten av brukerredigeringsfunksjonen for admin-brukere. Jeg drev
          også med litt CSS styling.</p>
        <p>Appen ble lagd med bruk av LitElement-baserte komponenter som vi for det meste lagde selv.</p>
      </div>

      <figure>
        <img src="images/www-teknologi/prosjekt2-5-videoside.png" alt="videoside andre prosjekt">
        <caption>Videoside</caption>
      </figure>

      <figure>
        <img src="images/www-teknologi/prosjekt2-7-videoliste.png" alt="videolistesiden">
        <caption>Videooversikt</caption>
      </figure>

      <figure>
        <img src="images/www-teknologi/prosjekt2-8-videoopplasting.png" alt="videoopplastingssiden">
        <caption>«Last opp video»-siden</caption>
      </figure>
    </div> <!-- /container -->
  </main>
  <footer></footer>
  <script src="js/nav.js" pageListPlace="2"></script>
</body>