.root {
  line-height: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #eee;
  padding: 5% 40px 15px 5%;
}

.defaultSpace {
  margin-top: 2rem;
}

.extraSpace {
  margin-top: 7rem;
}

.heading {
  margin: 0;
}