.root {
  line-height: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #eee;
  border-radius: 30px;
  padding: 40px 40px 15px 40px;
}

.defaultSpace {
  margin-top: 2rem;
}

.extraSpace {
  margin-top: 7rem;
}

.heading {
  margin: 0;
}