ul.tools {
  padding: 0;
}
ul.tools li {
  display: inline;
}
ul.tools .tool {
  color: #4d4d4d;
  border-radius: 20px;
  border: 2px solid #eee;
  padding: 2px 7px;
  background-color: #fff;
}
span.invisible {
  visibility: hidden;
}
