.root {
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
}

.option {
  cursor: pointer;
  padding: 0 20px;
  height: 55px;
  border-radius: 30px;
  background-color: #eee;
  display: inline-block;
  display: flex;
  align-items: center;
  width: fit-content;
  column-gap: 10px;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.option.checked {
  color: #fff;
  background-color: var(--dark-gray);
}

.option img {
  height: 30px;
}