.certification-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  /* overflow-x: hidden; */
}

.card3d {
  width: 90%;
  transform: scale(1);
  perspective: 600px;
}

.card3d:hover {
  z-index: 10;
  transform: scale(1.2);
}

.card3d,
.card3d img {
  transition: all 250ms ease-out;
}

img {
  border: 1px solid #000;
  box-shadow: rgba(61, 61, 66, 0.25) 0px 13px 27px -5px;
}

@media only screen and (min-width: 900px) {
  .certification-bg {
    justify-content: flex-start;
  }
  .card3d {
    width: 60%;
  }
}