.header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3rem;
  letter-spacing: 0.1rem;
}

.work h1,
.gallery h1 {
  display: inline;
}

.header {
  padding-top: 100px;
  color: #fff;
  /* border-bottom: 6px solid #000; */
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
  background: rgba(255, 51, 51, 0.5);
  background: -webkit-linear-gradient(
    right,
    rgba(255, 51, 51, 0.5),
    rgba(255, 255, 255, 0)
  );
  background: -moz-linear-gradient(
    right,
    rgba(255, 51, 51, 0.5),
    rgba(255, 255, 255, 0)
  );
  background: linear-gradient(
    to left,
    rgba(255, 51, 51, 0.5),
    rgba(255, 255, 255, 0)
  );
}

.index .header {
  padding-bottom: 40px;
}
.work .header,
.gallery .header {
  padding-bottom: 50px;
}

.header:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: rgba(127, 1, 127, 0.5);
  background: -webkit-linear-gradient(
    top left,
    rgba(127, 1, 127, 0.5),
    rgba(1, 1, 31, 0.5)
  );
  background: -moz-linear-gradient(
    top left,
    rgba(127, 1, 127, 0.5),
    rgba(1, 1, 31, 0.5)
  );
  background: linear-gradient(
    to bottom right,
    rgba(127, 1, 127, 0.5),
    rgba(1, 1, 31, 0.5)
  );
}
.header:after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 1),
    rgba(127, 1, 127, 0)
  );
  background: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 1),
    rgba(127, 1, 127, 0)
  );
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(127, 1, 127, 0));
}

.index .header .circle-frame {
  display: none;
}
.work .header a,
.gallery .header a {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
}

@media only screen and (min-width: 900px) {
  .index .header .circle-frame {
    margin-left: 18%;
  }

  .index .header .container {
    justify-content: flex-start;
  }

  .work main .container p,
  .work main .container li,
  .work figure {
    width: 630px;
  }
}
