.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  background: #7f017f;
  background: -webkit-linear-gradient(
    top left,
    rgba(127, 1, 127, 1),
    rgba(1, 1, 31, 1)
  );
  background: -moz-linear-gradient(
    top left,
    rgba(127, 1, 127, 1),
    rgba(1, 1, 31, 1)
  );
  background: linear-gradient(
    to bottom right,
    rgba(127, 1, 127, 1),
    rgba(1, 1, 31, 1)
  );
}
.footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer ul li {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
}
.footer ul li a {
  min-width: 500px;
  font-weight: 400;
  /* brukes på .text */
}
.footer ul li a:hover,
.footer ul li a:focus {
  font-weight: 600;
  /* brukes på .text */
}
.footer ul li .icon {
  min-width: 3rem;
  color: #fff;
  text-align: center;
}
.footer ul li .icon img {
  max-width: 20px;
}
.footer ul li .text {
  text-decoration: underline;
  display: inline-block;
  width: 190px;
  /* må justeres etter å kunne romme den bredeste teksten */
  color: #fff;
  /*nok til å fylle hele kontaktbredden*/
}
#copyMailButton {
  color: #000;
  /* font-size: inherit; */
  padding: 4px 11px;
  border-radius: 5px;
  font-family: inherit;
  background-color: #fff;
  border: 3px solid transparent;
  cursor: pointer;
}
#copyMailButton:hover,
#copyMailButton:focus {
  color: #fff;
  background: none;
  border-color: #fff;
}
