.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  background: #7f017f;
  background: linear-gradient(to bottom right, rgba(127, 1, 127, 1),rgba(1, 1, 31, 1)
  );
}
.footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer ul li {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  font-weight: 400;
}
.footer ul li a:hover,
.footer ul li a:focus {
  font-weight: 600;
}
.footer ul li .icon {
  display: inline-block; /* for span rundt scratch logo */
  min-width: 3rem;
  color: #fff;
  text-align: center;
}
.footer ul li .icon img {
  max-width: 20px;
}
.footer ul li .linkText {
  text-decoration: underline;
  display: inline-block;
  width: 190px;
  /* må justeres etter å kunne romme den bredeste teksten */
  color: #fff;
}
