.main {
  padding-top: 75px;
  padding-bottom: 50px;
  background-color: #fff;
  /* .work .main skal ha nav-bar som ligger ved siden av .main. nav-bar skal
    «kaste skygge» over på .main,lag derfor en invers skygge på .main. */
  -webkit-box-shadow: inset 0px 4px 32px -16px #000000;
  box-shadow: inset 0px 4px 32px -16px #000000;
}
/* det første elementet i .main trenger ikke margin-top, da .main tar seg av dette  */
.main .container > :first-child {
  margin-top: 0;
}
.index .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index a.box .frame {
  height: 200px;
}
.index .flex img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.index a.box {
  color: #000;
  text-decoration: none;
  transition: 0.2s;
}

.index a.box {
  width: 90%;
  margin: 30px 0;
  overflow: hidden;
}
.index a.box:hover,
.index a.box:focus {
  transform: scale(1.05);
  transition: 0.2s;
}
.index a.stripe {
  display: block;
  padding: 14px 5%;
  color: #000;
  background-color: #ccc;
}
.index a.stripe:hover,
.index a.stripe:focus {
  font-style: italic;
}
.work img {
  width: 100%;
}
.work .main a.link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 4px 3px;
  padding: 12px 24px;
  border-radius: 10px;
}
.work .main a.link:link,
.work .main a.link:visited {
  background: #7f017f;
  background: -webkit-linear-gradient(
    top left,
    rgba(127, 1, 127, 1),
    rgba(1, 1, 31, 1)
  );
  background: -moz-linear-gradient(
    top left,
    rgba(127, 1, 127, 1),
    rgba(1, 1, 31, 1)
  );
  background: linear-gradient(
    to bottom right,
    rgba(127, 1, 127, 1),
    rgba(1, 1, 31, 1)
  );
}
.work .main a.link:hover,
.work .main a.link:focus {
  color: #000;
  background: #fff;
  box-shadow: inset 0px 0px 0px 3px #000;
}
.work figure {
  background-color: #bbb;
  margin: 15px 0;
  padding: 40px 5% 10px 5%;
}
ul.tools {
  padding: 0;
}
ul.tools li {
  display: inline;
  border-radius: 20px;
  border: 2px solid #3b3b3b;
  padding: 2px 7px;
}
iframe {
  display: none;
}


@media only screen and (min-width: 700px) {
  .index .flex {
    justify-content: space-between;
  }
  .index a.box {
    width: 190px;
    margin: 6px 3%;
  }
  .index .box .frame {
    height: 170px;
  }
}

@media only screen and (min-width: 900px) {

}
