.circle-frame {
  display: none;
}

@media only screen and (min-width: 700px) {
  .index header .container {
    display: flex;
    justify-content: space-around;
  }

  .header img {
    height: 170%;
    object-fit: cover;
    transform: translateX(-10px) translateY(-43px);
  }

  .circle-frame {
    margin-top: -40px;
    /* flytt over header's padding-top */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* ^^ align-items: center (default) vil plassere bildet slik at toppen av bildet slettes ved overflow hidden, og .index header img {…} da ikke vil ha noe å hente  */
    max-width: 200px;
    max-height: 200px;
    border-radius: 200px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 900px) {
  .circle-frame {
    margin-left: 18%;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }
  .index header .container {
    justify-content: flex-start;
  }
  .work main .container p,
  .work main .container li,
  .work figure {
    width: 630px;
  }
}
