@media only screen and (min-width: 700px) {
  .index header .container {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }
  .index header .container {
    justify-content: flex-start;
  }
  .work main .container p,
  .work main .container li,
  .work figure {
    width: 630px;
  }
}
