@media only screen and (min-width: 0) {
  html {
    font-size: 100%;
    /* 16px */
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    line-height: 2rem;
    scrollbar-color: #999 #fff;
  }
  body {
    margin: 0;
  }
  .oldbody {
    background-color: #230d9b;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("images/black_explosion.webp");
    background-blend-mode: multiply;
    background-position: 230% -135px;
    background-size: 130%;
  }
  .oldbody > * {
    padding-left: 10%;
    padding-right: 10%;
  }
  .mb-50 {
    margin-bottom: 50px;
  }
  .mb-130 {
    margin-bottom: 130px;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .mt-130 {
    margin-top: 130px;
  }
  /* ––––––––––––––––––––– Type ––––––––––––––––––––– */
  h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    margin-bottom: 15px;
  }
  h2 {
    margin-top: 7rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  .work h3 {
    color: #3b3b3b;
    font-size: 1.3rem;
    margin-top: 3rem;
  }
  .tagline {
    font-size: 2.2rem;
    line-height: 3rem;
    /* for tynnere skjermbredder hvor teksten hopper ned på to linjer: */
    display: block;
    margin-bottom: 10px;
  }
  .subtitle {
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1rem 0;
  }
  /* ––––––––––––––––––––– Header ––––––––––––––––––––– */
  header {
    padding-top: 70px;
    color: #fff;
    /* border-bottom: 6px solid #000; */
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
    background: rgba(255, 51, 51, 0.5);
    background: -webkit-linear-gradient(
      right,
      rgba(255, 51, 51, 0.5),
      rgba(255, 255, 255, 0)
    );
    background: -moz-linear-gradient(
      right,
      rgba(255, 51, 51, 0.5),
      rgba(255, 255, 255, 0)
    );
    background: linear-gradient(
      to left,
      rgba(255, 51, 51, 0.5),
      rgba(255, 255, 255, 0)
    );
  }
  header {
    padding-bottom: 20px;
  }
  .work header,
  .gallery header {
    padding-bottom: 50px;
  }
  header:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(127, 1, 127, 0.5);
    background: -webkit-linear-gradient(
      top left,
      rgba(127, 1, 127, 0.5),
      rgba(1, 1, 31, 0.5)
    );
    background: -moz-linear-gradient(
      top left,
      rgba(127, 1, 127, 0.5),
      rgba(1, 1, 31, 0.5)
    );
    background: linear-gradient(
      to bottom right,
      rgba(127, 1, 127, 0.5),
      rgba(1, 1, 31, 0.5)
    );
  }
  header:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    background: -webkit-linear-gradient(
      bottom,
      rgba(0, 0, 0, 1),
      rgba(127, 1, 127, 0)
    );
    background: -moz-linear-gradient(
      bottom,
      rgba(0, 0, 0, 1),
      rgba(127, 1, 127, 0)
    );
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(127, 1, 127, 0));
  }
  header .circle-frame {
    display: none;
  }
  /* ––––––––––––––––––––– Nav ––––––––––––––––––––– */
  /* Se CSS module */
  /* ––––––––––––––––––––– Main  ––––––––––––––––––––– */
  main {
    padding-top: 75px;
    padding-bottom: 50px;
    background-color: #fff;
    /* .work main skal h{a }nav-bar som ligger ved siden av main. nav-bar skal
    «kaste skygge» over på main, lag derfor en invers skygge på main. */
    -webkit-box-shadow: inset 0px 4px 32px -16px #000000;
    box-shadow: inset 0px 4px 32px -16px #000000;
    min-height: 40vh; /* mest for å forhindre at footer hopper langt opp på galleri siden, mens bildene lastes inn. */
  }
  /* det første elementet i main trenger ikke margin-top, da main tar seg av dette  */
  main .container > :first-child {
    margin-top: 0;
  }
  .flex {
    display: flex;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .squarelinks-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main img {
    height: auto; /*nødvendig for å overskrive height attribute */
    width: 100%;
  }
  main a.link,
  main span.link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 4px 3px;
    padding: 12px 24px;
    border-radius: 10px;
  }
  main a.link:link,
  main a.link:visited {
    background: #7f017f;
    background: -webkit-linear-gradient(
      top left,
      rgba(127, 1, 127, 1),
      rgba(1, 1, 31, 1)
    );
    background: -moz-linear-gradient(
      top left,
      rgba(127, 1, 127, 1),
      rgba(1, 1, 31, 1)
    );
    background: linear-gradient(
      to bottom right,
      rgba(127, 1, 127, 1),
      rgba(1, 1, 31, 1)
    );
  }
  main a.link:hover,
  main a.link:focus {
    color: #000;
    background: #fff;
    box-shadow: inset 0px 0px 0px 3px #000;
  }
  main span.link {
    background-color: #444;
  }
  .center-content-fullscreen {
    height: 80vh;
    margin: 3rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center-content {
    margin: 3rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* blockquote {
    padding: 5px;
    background-color: #eee;
  } */
  /* ––––––––––––––––––––– Footer  ––––––––––––––––––––– */
  /* Se CSS module */
}

@media only screen and (min-width: 700px) {
  .oldbody > * {
    padding-left: 14%;
    padding-right: 14%;
  }
  h1 {
    font-size: 3rem;
  }
  header .circle-frame {
    margin-top: -9px;
    /* flytt over header's padding-top */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* ^^ align-items: center (default) vil plassere bildet slik at toppen av bildet slettes ved overflow hidden, og header img {…} da ikke vil ha noe å hente  */
    max-width: 200px;
    max-height: 200px;
    border-radius: 200px;
    overflow: hidden;
  }
  header .circle-frame img {
    height: 135%;
    object-fit: cover;
    transform: translateX(0px) translateY(-35px);
  }
  .index-header-flex {
    display: flex;
    justify-content: space-around;
  }
  .squarelinks-flex {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }
  header .circle-frame {
    /* margin-left: 100px; */
    margin-left: 18%;
  }
  .index-header-flex {
    justify-content: flex-start;
  }
  main .container p, main .container dl,
  main .container .normal-list li,
  blockquote {
    width: 630px;
  }
}

/* @media only screen and (min-width: 1300px) {
  header .circle-frame {
    margin-left: 18%;
  }
} */