a.squareLink {
  width: 90%;
  margin: 30px 0;
  color: #000;
  text-decoration: none;
  transition: 0.2s;
}
a.squareLink:hover,
a.squareLink:focus {
  transform: scale(1.05);
  transition: 0.2s;
}

a.squareLink .frame {
  height: 170px;
  /* https://getcssscan.com/css-box-shadow-examples #16 */
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
}
a.squareLink img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.desktopEmptySpace {
  width: 0;
  height: 0;
}
@media only screen and (min-width: 700px) {
  a.squareLink,
  div.desktopEmptySpace {
    width: 170px;
    margin: 6px 2%;
  }
}
@media only screen and (min-width: 1500px) {
  a.squareLink,
  div.desktopEmptySpace {
    width: 190px;
    margin: 6px 3%;
  }
  a.squareLink .frame {
    height: 200px;
  }
}
