nav {
  background-color: #fff;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav a, nav button, nav .switch {
  display: block;
  background: #fff;
  text-decoration: none;
  padding: 10px 5vw;
  color: #000;
}
.ul li {
  position: relative;
}
.ul > li {
  font-weight: 600;
  margin-right: 1px;
}
.ul li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50%;
  right: 5px;
}
/* submenu positioning*/
.ul ul {
  position: absolute;
  white-space: nowrap;
  -webkit-box-shadow: 0px 19px 21px -18px #000;
  box-shadow: 0px 19px 21px -18px #000;
  z-index: 11;
  left: -99999em;
}
.ul > li:hover > ul {
  left: auto;
  padding-top: 5px;
  min-width: 100%;
}
/* .ul > li li ul {  border-left:1px solid #fff;} */
.ul > li li:hover > ul {
  /* margin-left: 1px */
  left: 100%;
  top: -1px;
}
/* arrow hover styling */
.ul > li > a:first-child:nth-last-child(2):before {
  border-top-color: #7f017f;
}
.ul > li:hover > a:first-child:nth-last-child(2) {
  font-weight: 900;
}
.ul > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-bottom-color: #000;
  margin-top: -5px;
}
.ul li li > a:first-child:nth-last-child(2):before {
  margin-top: -5px;
}
.ul li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  /* border-right-color: orange; */
  right: 10px;
}
.nav a:hover,
.nav a:active,
.nav a:focus,
.nav a.selected,
.nav button:hover {
  font-weight: 900;
}
.gray {
  color: #929292;
}

nav button {
  border: none;
  height: 100%;
  width: 100%;
  text-align: start;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  nav ul.ul {
    display: flex;
    padding: 0;
    align-items: center;
  }
  nav a, nav .switch {
    padding: 16px 40px;
  }
  nav button {
    padding: 16px 0;
    text-align: center;
    min-width: 120px;
  }
}