.container {
  background-color: #fff;
}
.container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container a {
  display: block;
  background: #fff;
  text-decoration: none;
  padding: 10px 5vw;
  color: #000;
}
.nav li {
  position: relative;
}
.nav > li {
  font-weight: 600;
  margin-right: 1px;
}
.nav li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50%;
  right: 5px;
}
/* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  -webkit-box-shadow: 0px 19px 21px -18px #000;
  box-shadow: 0px 19px 21px -18px #000;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  padding-top: 5px;
  min-width: 100%;
}
/* .nav > li li ul {  border-left:1px solid #fff;} */
.nav > li li:hover > ul {
  /* margin-left: 1px */
  left: 100%;
  top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before {
  border-top-color: #7f017f;
}
.nav > li:hover > a:first-child:nth-last-child(2) {
  font-weight: 900;
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-bottom-color: #000;
  margin-top: -5px;
}
.nav li li > a:first-child:nth-last-child(2):before {
  margin-top: -5px;
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  /* border-right-color: orange; */
  right: 10px;
}
/* .container ul.nav>li {
    border-bottom: 2px solid #bbb;
  }
  .container ul.nav>li:last-child {
    border: none;
  } */
.container a:hover,
.container a:active,
.container a:focus,
.container a.open {
  font-weight: 900;
}
.gray {
  color: #929292;
}


@media only screen and (min-width: 700px) {
  .container ul.nav {
    display: flex;
    padding: 0;
  }
  /* .container ul.nav>li {
    border-bottom: none;
    border-right: 2px solid #bbb;
  } */
  .container ul li a {
    padding: 16px 40px;
  }
}